<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="ServiceHost.HostDemo">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/Host"/>
          </baseAddresses>         
        </host>
        <endpoint address="" binding="basicHttpBinding"
                  contract ="WcfDemo.IWcfInterface">

        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>